@import url('./styles/header.css');
@import url('./styles/conteudo.css');
@import url('./styles/habilidades.css');
@import url('./styles/projetos.css');
:root{
    --cor-de-fundo : #25282A;
    --cor-da-fonte : #FFFFFF;
    --cor-roxa:#8519DA;
    --cor-roxo-escuro:#481371;
    --cor-vermelha:#893E26;
    --fonte-principal: "Poppins";
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal)!important;
    color: var(--cor-da-fonte);
    font-size: 16px;
    font-weight: 400;
    
}
