.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("/imagens/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}
.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    padding: 2rem;
}
.conteudo__contato{
    display: flex;
}
.container__imagem {
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999999;
    background: var(--cor-de-fundo);
}
.lista-menu-item{
    padding: 2em;  
    text-align: center;
}
.contato__link{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.lista-menu__link,.contato__link-nome{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;    
}
.contato__link-nome{
    display: none;
    font-size: 1.5rem;
    margin: 1rem;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.container__botao{
    display: none;   
}
.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer{
    background-image: url("/imagens/menu-aberto.svg");
}
.menu-aberto{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.menu-desktop{
    display: none;
}
@media screen and (min-width: 768px ){
    
    .lista-menu{
        width: 30%;
        font-size: 1.5rem;
    }
    .contato__link-nome{
        display: inline;
    }
}

@media screen and (min-width: 1025px){
    .container{
        display: none;
    }
    .menu-desktop{
        display: flex;
        align-items: center;
    }
    .menu-desktop{
        margin: 1rem auto;
        font-size: 1.3rem;
    }
    .lista-menu__link:hover{
        border-bottom: 2px solid white;
        transition: 1s ease;
    }
    
}

